@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-neo-black text-neo-white font-sans cursor-none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-black uppercase tracking-tighter;
    }
}

@layer utilities {
    .text-stroke {
        -webkit-text-stroke: 2px white;
    }

    .text-stroke-sm {
        -webkit-text-stroke: 1px white;
    }

    .text-stroke-cyan {
        -webkit-text-stroke: 1px #00f3ff;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
    border-left: 1px solid #333;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #00f3ff;
}